@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {
	
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 200;
	box-shadow: 0px 1px 3px #2a2a2a;
	background: image_url('prism.png');
}

.navbar-inverse a.navbar-brand{
	
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	color: white;
}

.hero {
	
  background: image_url('background2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;

}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.btn {
 border-radius: 8px;

}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('lightpaperfibers.png');
   font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.booyah-box {

  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Helvetica Neue", Helvetica;

   

}

.slidetext{
  color: white;
}

.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both; 
}

.btn btn-success {
color: #c9188e
  
}

.lesson {
  background-color: black;
  margin-top: 10px;
  height: 130px;
}

.section {

  
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  font-family: "Helvetica Neue", Helvetica;
}

.lesson  a b {
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 15px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  font-size: 25px;
  margin: 20px;
  color: black;
  

}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}

.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.title {
  
  font-size: 50px;
}

.fa {
  color: white;
}

.fas {
  
  size: 3x;
  }

.courseimage {
  align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
